
    .hero-section {
      position: relative;
      background: url('assets/img/gombe_hero.jpeg') center center / cover no-repeat;
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
    }
    .hero-section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Dark overlay for text visibility */
    }

    .hero-section p {
      position: relative;
      font-size: 1.2rem;
    }
    .btn-give-now {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.8rem 2rem;
    }
    .card:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }
